.fsb-recurring-totals-panel {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #e0e0e0;

	.fsb-recurring-totals-panel__title {
		.wc-block-components-totals-item__label,
		.wc-block-components-totals-item__value {
			font-weight: 700;
		}
		.wc-block-components-totals-item__description {
			font-size: 0.875em;
			font-weight: 400;
			margin-top: 0.25em;
		}
	}

	.wc-block-components-panel__button {
		font-size: 0.875em;
		margin-top: 0.5em;
	}

	.fsb-recurring-totals-panel__details {
		.wc-block-components-totals-wrapper {
			padding-left: 1em;
		}
	}
}
